<!-- Modal -->
 <div class="modal fade" id="attendenceDataModal" tabindex="-1" role="dialog" aria-labelledby="attendenceDataModal" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
     <div class="modal-content">
       <div class="modal-header text-center">
         <h6 class="modal-title" id="attendenceDataModalLabel">Attendence Summy </h6>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body" id="attendenceDataModalBody">
        <table class="table text-center" id="attendence-data-table">
          <thead>
            <tr>
              <th scope="col" class="text-success">Check-In</th>
              <th scope="col" class="text-danger">Check-Out</th>
              <th scope="col" class="text-warning">Working Hours</th>
            </tr>
          </thead>
          <tbody class="text-muted" id="attendence-data-table-body">
            
          </tbody>
        </table>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>