<div class="menu navbar navbar-light bg-dark">
   <div class="container">
     <ul class="nav nav-pills">
      
      <li class="nav-item my-1 mx-1" style="time-tracker">
        <div class="attendence-box">
          <div class="card" style="width:7rem;height:5rem" >
            <div class="card-body">
              <div class="attendence-timer text-center">
                {% csrf_token %}
                <input type="hidden" id="hidden_attendence_timer" />
                <div id="timer" class="timer" style="font-size:16px">
                   00:00:00
                </div>
              </div>
              <div class="check-in-attendence-btn my-1">
                <button class="btn btn-success w-100 btn-sm" id="check-in-btn" onclick="javascript:check_in()" style="display:block;font-size:15px">Check-In</button>
                <button class="btn btn-danger w-100 btn-sm" id="check-out-btn" onclick="javascript:check_out()" style="display:none;
                font-size:15px">Check-Out</button>
              </div>
            </div>
          </div>         
        </div>
      </li>


      <a href="{% url 'zoho:home' %}" class="text-dark" style="text-decoration:none">
        <li class="nav-item my-1 mx-1" role="button" style="cursor:pointer">
          <div class="card" style="width:7rem;height:5rem">
            <div class="card-body">
              <div name="menu-icon" style="text-align:center">
                <i class="fa-solid fa-user"></i>
              </div>
              <div class="menu-name">
                <div class="text-center" style="font-size:14px">Home</div>
              </div>
            </div>
          </div>           
        </li>
      </a>

      <a href="{% url 'zoho:self' %}" class="text-dark" style="text-decoration:none">
         <li class="nav-item my-1 mx-1" role="button" style="cursor:pointer">
           <div class="card" style="width:7rem;height:5rem">
             <div class="card-body">
               <div name="menu-icon" style="text-align:center">
                 <i class="fa-solid fa-user"></i>
               </div>
               <div class="menu-name">
                 <div class="text-center" style="font-size:14px">Self Service</div>
               </div>
             </div>
           </div>           
         </li>
      </a>
      
      <li class="nav-item my-1 mx-1" style="cursor:pointer">
        <div class="card" style="width:7rem;height:5rem">
          <div class="card-body">
            <div name="menu-icon" style="text-align:center">
              <i class="fa-solid fa-graduation-cap"></i>
            </div>
            <div class="menu-name text-wrap">
              <div class="text-center" style="font-size:14px">Learning & Development</div>
            </div>
          </div>
        </div>
      </li>
      <a href="{% url 'zoho:leaver-tracker' %}" class="text-dark" style="text-decoration:none">
        <li class="nav-item my-1 mx-1" style="cursor:pointer">
          <div class="card" style="width:7rem;height:5rem">
            <div class="card-body">
              <div name="menu-icon" style="text-align:center">
                <i class="fa-solid fa-suitcase"></i>
              </div>
              <div class="menu-name">
                <div class="text-center" style="font-size:14px">Leave Tracker</div>
              </div>
            </div>
          </div>
        </li>
      </a>
      <a href="{% url 'zoho:time-tracker' %}"
      class="text-dark" style="text-decoration:none">
       <li class="nav-item my-1 mx-1" style="time-tracker">
         <div class="card" style="width:7rem;height:5rem">
           <div class="card-body">
             <div name="menu-icon" style="text-align:center">
               <i class="fa-solid fa-clock"></i>
             </div>
             <div class="menu-name">
               <div class="text-center" style="font-size:14px">Time Tracker</div>
             </div>
           </div>
         </div>
       </li>
      </a>

      <a href=""
      class="text-dark" style="text-decoration:none">
       <li class="nav-item my-1 mx-1" style="time-tracker">
         <div class="card" style="width:7rem;height:5rem">
           <div class="card-body">
             <div name="menu-icon" style="text-align:center">
              <i class="fa-solid fa-clipboard-user"></i>
             </div>
             <div class="menu-name">
               <div class="text-center" style="font-size:14px">Attendence</div>
             </div>
           </div>
         </div>
       </li>
      </a>
      
      
     </ul>
   </div>
 </div>